.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form{
    max-width: 80%;
    background-color: #027333;
    border-radius:  15px;
    padding: 20px 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}